.jumbotron {
	padding-top: 7rem;
	background-color: #C0C0C0;
}
.jumbotron h1 {
	font-style: serif;
}
#Galeri {
	background-color: #C0C0C0;
}
#footer {
	background-color: #C0C0C0;
}
section {
	padding-top: 6rem;
}